body{
background-color:#e5e5e5;
 margin:0px 0px 0px 0px;
 }
#container{

            font-family: sans-serif; 
            margin: 0 auto;
	    max-width: 50em;
	    background-color: #fff;
	    border-radius: 18px;
	    border: 1px solid #eee;
	    padding-left: 2%;
padding-right: 2%;
            }
            
 a{
  color:#f0ad2c;
  text-decoration:none;
  }
  
 a:hover{
  color:black;
      }
      
   img{
   width:100%;
   }
   